@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?23jzop');
	src:url('fonts/icomoon.eot?#iefix23jzop') format('embedded-opentype'),
		url('fonts/icomoon.woff?23jzop') format('woff'),
		url('fonts/icomoon.ttf?23jzop') format('truetype'),
		url('fonts/icomoon.svg?23jzop#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
	content: "\e600";
}

.icon-back:before {
	content: "\e601";
}

.icon-bottom:before {
	content: "\e602";
}

.icon-cross:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-foot:before {
	content: "\e605";
}

.icon-google:before {
	content: "\e606";
}

.icon-hanger:before {
	content: "\e607";
}

.icon-heart:before {
	content: "\e608";
}

.icon-left:before {
	content: "\e609";
}

.icon-lock:before {
	content: "\e60a";
}

.icon-nau:before {
	content: "\e60b";
}

.icon-right:before {
	content: "\e60c";
}

.icon-round:before {
	content: "\e60d";
}

.icon-top:before {
	content: "\e60e";
}

.icon-twitter:before {
	content: "\e60f";
}

.icon-undo:before {
	content: "\e610";
}

