//
// Global variables, overriding any inuit variables here
//

// Base typography
$inuit-base-font-size:          16px;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;

// color variables
$color-menu-list: rgb(255, 255, 255);

// text color variables
$bg-menu-list-fallback: rgb(226, 64, 113);
$bg-menu-list: rgba(226, 64, 113, 0.95);
$bg-menu-item-border-fallback: rgb(255, 90, 128);
$bg-menu-item-border: rgba(255, 255, 255, 0.1);

// font-size
$fz-menu-list: 30px;

