//
// Global variables, overriding any inuit variables here
//

// Base typography
$inuit-base-font-size:          16px;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;

$inuit-base-white-color:   #fff;
$inuit-base-white-2-color: #ebebeb;

$inuit-base-green-color: #5dd16d !default;
$inuit-base-green-2-color: #4aa757 !default;


$inuit-base-grey-color: #ababab !default;
$inuit-base-grey-2-color: #959595;
$inuit-base-grey-3-color: #636363;
$inuit-base-grey-4-color: #ebebeb;
$inuit-base-grey-5-color: #808080;

$inuit-base-purple-color: #9966ff !default;
$inuit-base-purple-2-color: #8393ca;

$inuit-base-blue-color: #6dcff6;
$inuit-base-red-color: #d32121;

$color-blue: #069;

// color variables
$color-theme                 : #e24071;

$color-menu-list             : rgb(255, 255, 255);
$color-hamguger-icon         : rgb(226, 64, 113);
$color-names-list--title     : #aba000;
$color-button                : #fff;

// text color variables
$bg-menu-list-fallback       : $color-theme;
$bg-menu-list                : rgba($color-theme, 0.95); //226, 64, 113, 0.95);
$bg-menu-item-border-fallback: rgb(255, 90, 128);
$bg-menu-item-border         : rgba(255, 255, 255, 0.1);
$bg-name-list--border        : rgba($color-theme, 0.1);
$bg-button-orange            : #f58400;
$bg-button-orange-hover	     : #d08007;
$bg-button-orange-active	 : #c77700;
$bg-button-green             : #5dd16d;
$bg-button-green-hover	     : #43a651;
$bg-button-green-active	     : #117b20;

// font-size
$fz-menu-list                : 30px;

//
$color-button-top: #38ae5b;
$color-button-bottom: #e23833;
$color-button-left: #f2d523;
$color-button-right: #0d75b8;

$color-border: #fcecf1;
$color-text-login: #395733;
$color-background-facebook: #3b5998;

// social
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;

// active color
$bg-active-state: #c5c4c3;

$color-policy-title: #aba000;
$color-policy-highlight: #e24071;

// duration of animation frames
$walking-animation-duration: 0.5s;
// duration of movement transition
$character-movement-duration: 0.3s;
// duration of highlight banh chung
$banh-chung-highlight-duration: 0.1s;
