<template name="GameGuide">
	<div class="modal fade modal-game-guide">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cross" aria-hidden="true"></span></button>
					<h4 class="modal-title" id="mySmallModalLabel">
						<div class="hello">{{t "guide"}}</div>

					</h4>
				</div>
				<div class="modal-body">

					<div id="slider">
						<a class="control_next">Next</a>
						<a class="control_prev">Back</a>
						<ul>
							<li >
								<img src="/img/step1.png" alt="" style="height:100%">
								<div class="description-step"> Commodi omnis consequatur odio, obcaecati doloremque et error, saepe ipsa.</div>
							</li>
							<li >
								<img src="/img/step2.png" alt="" style="width:100%">
								<div class="description-step">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem id vitae, minima quia eveniet quo iusto officia distinctio nisi laborum. Commodi omnis consequatur odio, obcaecati doloremque et error, saepe ipsa.
								</div>
							</li>
							<li >
								<img src="/img/step3.png" alt="" style="height:100%">
								<div class="description-step">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem id vitae,
								</div>
							</li>
						</ul>

					</div>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
</template>
