<template name="gridMap">
	<div class="map-grid">
		{{{squares}}}

		<div class="social icon-button">
			<a href="" class="icon icon-google"></a>
			<a href="" class="icon icon-facebook"></a>
			<a href="" class="icon icon-twitter"></a>
		</div>
		<div class="action icon-button">
			<a href="" class="icon icon-round"></a>
			<a href="" class="icon icon-arrow"></a>
			<a href="" class="icon icon-back"></a>
		</div>
	</div>

	<div class="map-grid sample-character">
		<div class="item">
			<div class="square decorator decorator-1"></div>
			<div class="square decorator decorator-2"></div>
			<div class="square decorator decorator-3"></div>
			<div class="square decorator decorator-4"></div>
			<div class="square decorator decorator-5"></div>
			<div class="square decorator decorator-6"></div>
			<div class="square decorator decorator-7"></div>
			<div class="square decorator decorator-8"></div>
		</div>

		<div class="item">
			<div class="square wall"></div>
			<div class="square user"></div>
			<div class="square rock"></div>
			<div class="square goal"></div>
			<div class="square banh-chung"></div>
			<div class="square ground"></div>
		</div>
	</div>
</template>