<template name="gridMap">
	<div class="map-grid">

		{{#if rendered}}
			{{{squares}}}

			<div class="social icon-button">
				<a href="https://plus.google.com/share?url={{ currentURL }}?utm_source=googleplus&utm_medium=website&utm_campaign=bcx2015" class="icon icon-google social-icon" data-ref="google">
					<i class="top-row"></i>
					<span class="background-transition social-icon" data-ref="google">
					</span>
				</a>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ currentURL }}?utm_source=facebook&utm_medium=website&utm_campaign=bcx2015" class="icon icon-facebook social-icon" data-ref="facebook">
					<i class="top-row" data-ref="facebook"></i>
					<span class="background-transition social-icon"></span>
				</a>
				<a class="social-icon icon icon-twitter" href="https://twitter.com/intent/tweet?url={{ currentURL }}&via=NauStudio&text={{ twitterText }}?utm_source=twitter&utm_medium=website&utm_campaign=bcx2015" data-ref="twitter">
					<i class="top-row"></i>
					<span class="background-transition social-icon" data-ref="twitter">
					</span>
				</a>
			</div>

			<div class="intro-block-smartphone {{inPageGame}}"> {{> IntroBlockControl}}</div>

		{{else}}
			<div class="loading-game-board">
				<img src="/img/preloader.gif" alt="LOADING....">
			</div>
		{{/if}}

	</div>

</template>
