<template name="Header">
	<header class="header">
		<button class="header__menu-btn"><span class="header__menu-icon {{isActive}}"></span></button>
		{{#if currentUser}}
			<span class="button-login logout" >{{t "logout"}}</span>
		{{else}}
			<span class="button-login {{inMapMaster}}" data-target=".modal-login" >{{t "login"}}</span>
		{{/if}}
		<span class="button-status {{inMapMaster}}" data-target=".modal-status" >{{t "status"}}</span>
		<h1 class="header__page-title">Bánh Chưng Xanh</h1>
		<div class="intro-block-smartphone {{inPageGame}}"> {{> IntroBlockControl}}</div>
	</header>
</template>
