<template name="Header">
	<header class="header">
		<button class="header__menu-btn"><span class="header__menu-icon {{isActive}}"></span></button>
		{{#if currentUser}}
			<span class="button-login logout" >Log out</span>
		{{else}}
			<span class="button-login" data-target=".modal-login" >Log in</span>
		{{/if}}
		<span class="button-status" data-target=".modal-status" >{{t "status"}}</span>
		<h1 class="header__page-title">Chưng Nhi</h1>
		<!--<div class="intro-block-smartphone"> {{> IntroBlockControl}}</div>-->
	</header>
</template>
