<template name="IconButton">
	<div class="icon-button-container">
	<div class="icon-button icon-button-top">
		<a href="" class="icon icon-round"><i class="top-row"></i></a>
		<a href="" class="icon icon-arrow"><i class="top-row"></i></a>
		<a href="" class="icon icon-back"><i class="top-row"></i></a>
	</div>
	<div class="icon-button icon-button-bottom">
		<a href="" class="icon icon-google"><i class="top-row"></i></a>
		<a href="" class="icon icon-facebook"><i class="top-row"></i></a>
		<a href="" class="icon icon-twitter"><i class="top-row"></i></a>

	</div>

	</div>
</template>
