<template name="Login">
	<div class="modal modal-login fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cross"></i></span></button>
				</div>
				<div class="modal-body">
					<div class="title-login">
						<span>Login</span>
						<div class="login-border"></div>
					</div>
					<div class="description-login">Để chia sẻ và lưu điểm</div>
					<button class="facebook-login">Facebook</button>
					<div class="login-or">
						<span>Or</span>
						<div class="login-border"></div>
					</div>
					<input class="login-email" type="text" placeholder="Fill in email"/>
				</div>
			</div>
		</div>
	</div>
</template>