<template name="Login">
	<div class="modal modal-login fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cross"></i></span></button>
					<h4 class="title-login">{{t "login"}}</h4>
				</div>
				<div class="modal-body">
					<div class="description-login">{{t "shareAndSavePoints"}}</div>
					<button class="facebook-login">Facebook</button>
					<div class="login-or">
						<span>{{t "or"}}</span>
						<div class="login-border"></div>
					</div>
					<form id="login">
					<input name="email" class="login-form-input login-email" type="email" placeholder='{{t "fillEmail"}}'/>
					<input name="name" class="login-form-input login-name" type="text" placeholder='{{t "fillName"}}'/>
					<div class="privacy-block clearfix">
						<label for="privacy-agreement">Tôi đồng ý với <a href="#" target="_blank">điều khoản sử dụng</a> của trang web</label>
						<input id="privacy-agreement" name="privacy" value="checked" class="" type="checkbox" />
					</div>

					<div class="button-login-footer">
						<button type="button" class="button-modal">{{t "cancel"}}</button>
						<button type="submit" class="button-modal no-margin-right">{{t "login"}}</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
