<template name="MapList">
	<div class="map-wrap">
		<img class="map-list-bg" src="../img/bg_chooser.png" alt="">
		<div class="chose-round round-1"></div>
		<div class="chose-round round-2"></div>
		<div class="chose-round round-3"></div>
		<div class="chose-round round-4"></div>
		<div class="chose-round round-5"></div>
		<div class="chose-round round-6"></div>
		<div class="chose-round round-7"></div>
		<div class="chose-round round-8"></div>
		<div class="chose-round round-9"></div>
		<div class="chose-round round-10"></div>
	</div>

</template>