<template name="MapList">
	<div class="map-wrap-smartphone">
		<div class="map-wrap">
			<img src="/img/bg_chooser.jpg"  class="map-list-bg img-no-retina" alt="">
			<img src="/img/bg_chooser-2x.jpg"  class="map-list-bg img-retina" alt="">
			<!--render map master--> {{rerenderMapMaster}} <!--render map master-->
			<a href="/{{lc}}/game/1" class="chose-round round-1"></a>
			<a href="/{{lc}}/game/2" class="chose-round round-2"></a>
			<a href="/{{lc}}/game/3" class="chose-round round-3"></a>
			<a href="/{{lc}}/game/4" class="chose-round round-4"></a>
			<a href="/{{lc}}/game/5" class="chose-round round-5"></a>
			<a href="/{{lc}}/game/6" class="chose-round round-6 "></a>
			<a href="/{{lc}}/game/7" class="chose-round round-7"></a>
			<a href="/{{lc}}/game/8" class="chose-round round-8"></a>
			<a href="/{{lc}}/game/9" class="chose-round round-9"></a>
			<a href="/{{lc}}/game/10" class="chose-round round-10"></a>
		</div>
	</div>
</template>
