<template name="Congratulation">
	<div class="modal modal-congratulation modal-congratulation-level1 fade">
		<div class="modal-dialog modal-congratulation-dialog">
			<div class="modal-content">
				<div class="congratulation-container">
					<img class="congratulation-img" src="/img/congratulation_level1.png" alt="">
					<!--<img class="congratulation-img-text" src="/img/congratulation.png" alt="">-->
					<div class="congratulation-text">{{t "congratulation"}} !</div>
					<div class="congratulation-description">{{t "congratulation-description"}} </div>
					<a href="/{{ lc }}/" class="congratulation-button button second-btn">{{t "master-map"}}</a>
					<a href="/{{ lc }}/game/{{nextMapId}}" class="button congratulation-button">{{t "next"}}</a>
				</div>

			</div>
		</div>
	</div>
	<div class="modal modal-congratulation modal-congratulation-level2 fade">
		<div class="modal-dialog modal-congratulation-dialog">
			<div class="modal-content">
				<div class="congratulation-container">
					<img class="congratulation-img" src="/img/congratulation_level2.png" alt="">
					<!--<img class="congratulation-img-text" src="/img/congratulation.png" alt="">-->
					<div class="congratulation-text">{{t "congratulation"}} !</div>
					<div class="congratulation-description">{{t "congratulation-description"}} </div>
					<a href="/{{ lc }}/" class="congratulation-button button second-btn">{{t "master-map"}}</a>
					<a href="/{{ lc }}/game/{{nextMapId}}" class="button congratulation-button">{{t "next"}}</a>
				</div>

			</div>
		</div>
	</div>
	<div class="modal modal-congratulation modal-congratulation-level3 fade">
		<div class="modal-dialog modal-congratulation-dialog">
			<div class="modal-content">
				<div class="congratulation-container">
					<img class="congratulation-img" src="/img/congratulation_level3.png" alt="">
					<div class="congratulation-text">{{t "congratulation"}} !</div>
					<div class="congratulation-description">{{t "congratulation-description"}} </div>
					<a href="/{{ lc }}/" class="congratulation-button button second-btn">{{t "master-map"}}</a>
					<a href="/{{ lc }}/game/{{nextMapId}}" class="button congratulation-button">{{t "next"}}</a>
				</div>

			</div>
		</div>
	</div>
</template>