<template name="Modal">
	<div class="modal modal-login fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">
					<div class="title-login">
						<span>Login</span>
						<div class="login-border"></div>

					</div>
					<div class="description-login">Để chia sẻ và lưu điểm</div>
					<button class="facebook-login">Facebook</button>
					<div class="login-or">
						<span>Or</span>
						<div class="login-border"></div>
					</div>
					<input class="login-email" type="text" placeholder="Fill in email"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal modal-introduction fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="mySmallModalLabel">
						<div class="hello">Xin chào</div>
						<img class="logo-modal" src="../public/img/nau-logo.svg" alt="">
					</h4>
				</div>
				<div class="modal-body">

					<div class="title-paragraph">Mục đích dự án</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla consectetur iste aut ullam, maiores deserunt aliquam sit porro debitis quidem, adipisci quod quibusdam ab nemo doloribus itaque. Placeat, culpa, quod!
					</div>

					<div class="title-paragraph">Cách chơi</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla consectetur iste aut ullam, maiores deserunt aliquam sit porro debitis quidem, adipisci quod quibusdam ab nemo doloribus itaque. Placeat, culpa, quod!
					</div>
				</div>
				<div class="modal-footer">
					<button class="button-modal">Xem hướng dẫn</button>
					<button class="button-modal">Không cần, chơi luôn!</button>
				</div>
			</div>
		</div>
	</div>
</template>