<template name="Congratulation">
	<div class="modal modal-congratulation fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="congratulation-container">
					<img class="congratulation-img" src="/img/congratulation_level1.png" alt="">
					<img class="congratulation-img-text" src="/img/congratulation.png" alt="">
					<div class="congratulation-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
					<a href="/{{ lc }}/" class="congratulation-button button">Chọn map</a>
					<button class="button congratulation-button">Chơi tiếp</button>
				</div>

			</div>
		</div>
	</div>
</template>