<template name="PageGame">
	<article class="game-play">
		<div class="game-play-mobile">
			{{> gridMap}}
			<div class="button-controler-smartphone">
				<div class="button-controler">
					<div class="action icon-button">
						<a title={{t "tooltip_map"}} href="/{{ lc }}/" class="tooltip background-icon-button">
							<i class="icon icon-round"></i>
						</a>
						<a title={{t "tooltip_reset"}} href="" class="tooltip background-icon-button">
							<i class="icon icon-reset"></i>
						</a>
						<a title={{t "tooltip_back"}} href="" class="tooltip background-icon-button">
							<i class="icon icon-back"></i>
						</a>
					</div>

					<button class="control-top "><i class="icon-top"></i></button>
					<button class="control-right "><i class="icon-right"></i></button>
					<button class="control-left"><i class=" icon-left"></i></button>
					<button class="control-bottom"><i class="icon-bottom"></i></button>
				</div>
			</div>
		</div>

	</article>

	<aside class="game-intro">
		<div class="game-intro-wrap">
			<div class="logo-banhchungxanh"><img src="/img/logo.png" alt=""></div>
			<div class="intro-donate-pc">
				{{> IntroDonate}}
				{{> IntroBlockControl}}
				{{rendered}}

				<div class="button-controler">
					<div class="action icon-button">
						<a title={{t "tooltip_map"}} href="/{{ lc }}/" class="tooltip background-icon-button">
							<i class="icon icon-round"></i>
						</a>
						<a title={{t "tooltip_reset"}} href="" class="tooltip background-icon-button">
							<i class="icon icon-reset"></i>
						</a>
						<a title={{t "tooltip_back"}} href="" class="tooltip background-icon-button">
							<i class="icon icon-back"></i>
						</a>
					</div>

					<button  class="control-top "><i class="icon-top"></i></button>
					<button class="control-right "><i class="icon-right"></i></button>
					<button class="control-left"><i class=" icon-left"></i></button>
					<button class="control-bottom"><i class="icon-bottom"></i></button>
				</div>


			</div>
		</div>
	</aside>

</template>
