<template name="PageGame">
	<article class="game-play">
		<div class="game-play-mobile">
			{{> gridMap}}
		</div>

	</article>

	<aside class="game-intro">
		<div class="game-intro-wrap">
			<div class="intro-donate-pc">
				{{> IntroDonate}}
				{{> IntroBlockControl}}
				{{rendered}}


			</div>

			<div class="button-controler">
				<div class="action icon-button">
					<a href="/{{ lc }}/" class="icon icon-round"><span class="circle-icon"></span></a>
					<a href="" class="icon icon-reset"><span class="circle-icon"></span></a>
					<a href="" class="icon icon-back"><span class="circle-icon"></span></a>
				</div>

				<button class="control-top "><i class="icon-top"></i></button>
				<button class="control-right "><i class="icon-right"></i></button>
				<button class="control-left"><i class=" icon-left"></i></button>
				<button class="control-bottom"><i class="icon-bottom"></i></button>
			</div>
		</div>
	</aside>

</template>
