<template name="PageGame">
	<article class="game-play">
		{{> gridMap}}
	</article>

	<aside class="game-intro">
		<div class="game-intro-wrap">
			<div class="intro-donate-pc">
				{{> IntroDonate}}
				{{> IntroBlockControl}}
			</div>

			<div class="button-controler">
				<button class="control-top "><i class="icon-top"></i></button>
				<button class="control-right "><i class="icon-right"></i></button>
				<button class="control-left"><i class=" icon-left"></i></button>
				<button class="control-bottom"><i class="icon-bottom"></i></button>
			</div>
		</div>
	</aside>

</template>
