<template name="PagePlayers">
	<section class="page">
		<h2 class="names-list__title">{{t "players_title"}}</h2>



		<table class="names-list players">
			<thead>
				<tr class="names-list__header">
					<th class="item col-one">{{t "players_name" }}</th>
					<th class="item col-two">{{t "players_levels" }}</th>
					<th class="item col-four">{{t "players_last_login" }}</th>
				</tr>
			</thead>
			<tbody>
				{{#each players}}
				<tr class="names-list__record">
					<td class="item">{{ index }}. {{ name }}</td>
					<td class="item">{{ levels }}</td>
					<td class="item">{{ lastAccess }}</td>
				</tr>
				{{else}}
					<td colspan="4" class="names-list__empty">{{t "players_empty" }}</td>
				{{/each}}
			</tbody>
		</table>
	</section>
</template>
