// -------
// Style of Button
// --------

.button {
	position: relative;
	border: 0;
	padding: 10px;
	text-transform: uppercase;
	color: $color-button;
	display: inline-block;
	text-decoration: none;
	text-align: center;

	&:before,
	&:after {
		content: '';
		background-image: url(img/button-border.png);
		background-repeat: repeat-x;
		background-position: left top;
		background-size: auto 100%;
		position: absolute;
		left: 0;
		width: 100%;
		height: 11px;

		@include media-query(retina) {
			background-image: url(img/button-border-2x.png);
		}
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	&:hover {
		text-decoration: none;
	}

	&.orange {
		background-color: $bg-button-orange;
	}

	&.gray {
		&:before,
		&:after {
			background-image: url(img/button-border-white.png);
		}
	}
}

.button__challenge {
	$line-height: 48px;

	padding: 0 10px;
	font-size: 14px;
	min-width: 191px;
	line-height: $line-height;
}

// --------
// Style of icon button
// --------

.icon-button {
	text-align: center;

	.top-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 9px;
		background-image: url(img/button-border-gray.png);
		background-repeat: repeat-x;
		background-size: auto 100%;

		@include media-query(retina) {
			background-image: url(img/button-border-gray-2x.png);
		}
	}

	.icon {
		position: relative;
		background: #fff;
		padding: 10px 0 7px;
		display: inline-block;
		color: #6d6e71;
		text-align: center;
		border-radius: 2px;
		width: 30px;
		height: 30px;
		// background-image: url(img/button-border-gray.png);
		// background-repeat: repeat-x;
		//

		&:active,
		&:hover {
			text-decoration: none;

			.top-row {
				background-image: url(img/button-border-gray-hover.png);

			}

			@include media-query(retina) {
				.top-row {
					background-image: url(img/button-border-gray-hover-2x.png);
				}
			}

		}

		&:after {
			content: '';
			width: 113%;
			height: 4px;
			background-image: url(img/icon-button-shadow.png);
			background-repeat: no-repeat;
			background-size: 100%;
			// background: #c5c4c3;
			position: absolute;
			left: 0;
			bottom: -4px;

			@include media-query(retina) {
				background-image: url(img/icon-button-shadow-2x.png);
			}
			// transform: skewX(30deg);
		}
	}

	.icon-google {
		&:active,
		&:hover {
			background-color: $googleplus;
			color: #fff;
		}
	}

	.icon-facebook {
		&:active,
		&:hover {
			background-color: $facebook;
			color: #fff;
		}
	}

	.icon-twitter {
		&:active,
		&:hover {
			background-color: $twitter;
			color: #fff;
		}
	}

	.icon-round {
		&:active,
		&:hover {
			background-color: $bg-active-state;
			color: #fff;
		}
	}

	.icon-arrow {
		&:active,
		&:hover {
			background-color: $bg-active-state;
			color: #fff;
		}
	}

	.icon-back {
		&:active,
		&:hover {
			background-color: $bg-active-state;
			color: #fff;
		}
	}
}

