
.map-grid {

	.square {
		width: 8.33333%;
		padding-bottom: 8.33333%;
		float: left;

		&.wall {
			background-image: url(img/characters/wall.png);
			background-repeat: no-repeat;
			background-size: 100%;

			@include media-query(retina) {
				background-image: url(img/characters2x/wall.png);
			}
		}

		&.rock {
			background-image: url(img/characters/rock.png);
			background-size: 100%;

			@include media-query(retina) {
				background-image: url(img/characters2x/rock.png);
			}
		}

		&.ground {
			background-image: url(img/characters/ground.png);
			background-size: 100%;

			@include media-query(retina) {
				background-image: url(img/characters2x/ground.png);
			}
		}
	}

	.user {
		position: absolute;
	}

	.goal {
		position: absolute;
		background-image: url(img/characters/goal.png);
		background-size: 100%;

		@include media-query(retina) {
			background-image: url(img/characters2x/goal.png);
		}
	}

	.banh-chung {
		position: absolute;
		background-image: url(img/characters/banh-chung-highlight.png);
		background-size: 100%;


		@include media-query(retina) {
			background-image: url(img/characters2x/banh-chung-highlight.png);
		}

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			background-image: url(img/characters/banh-chung.png);
			background-size: 100%;
			transition: opacity $banh-chung-highlight-duration $character-movement-duration ease-in;

			@include media-query(retina) {
				background-image: url(img/characters2x/banh-chung.png);
			}
		}

	}


	.user,
	.banh-chung {
		// define movement animation
		transition-property: top, left;
		transition-timing-function: linear;
		transition-duration: $character-movement-duration;
	}

	.decorator {
		@include character-icon(decorator-1, 73px, 103px);
		@include character-icon(decorator-2, 63px, 94px);
		@include character-icon(decorator-3, 73px, 109px);
		@include character-icon(decorator-4, 51px, 95px);
		@include character-icon(decorator-5, 47px, 103px);
		@include character-icon(decorator-6, 71px, 132px);
		@include character-icon(decorator-7, 62px, 104px);
		@include character-icon(decorator-8, 70px, 175px);
		position: relative;

		&:before {
			content: '';
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: 100%;
			overflow: visible;
			position: absolute;
			bottom: -20px;
			left: 50%;
		}
	}
}


.banh-chung.highlight {
	&:before {
		opacity: 0;
	}
}

// user animation
.user-up,
.user-left,
.user-right,
.user-down {
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		width: 600%;
		height: 100%;
		position: absolute;
		display: block;
		background-image: url(img/animation/user-down.png);
		background-size: 100%;

		animation-name: moving;
		animation-duration: $walking-animation-duration;
		animation-iteration-count: infinite;
		animation-timing-function: steps(6, end);

		@include media-query(retina) {
			width: 600%;
			background-image: url(img/animation2x/user-down.png);
		}
	}
}

.user-up:before {
	background-image: url(img/animation/user-up.png);

	@include media-query(retina) {
		background-image: url(img/animation2x/user-up.png);
	}
}

.user-left {
	&:before {
		background-image: url(img/animation/user-left.png);

		@include media-query(retina) {
			background-image: url(img/animation2x/user-left.png);
		}
	}
}

.user-right {
	&:before {
		background-image: url(img/animation/user-right.png);

		@include media-query(retina) {
			background-image: url(img/animation2x/user-right.png);
		}
	}
}


