.congratulation-container {
	width: 480px;
	background-image: url('img/congratulation_bg.png');
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 30px;
}

.congratulation-img-text {
	margin-top: 20px;
	margin-bottom: 5px;
}

.congratulation-button {
	margin: 20px 12px;
	text-transform: none;
	min-width: 100px;
	font-size: 14px;
	background-color: $inuit-base-green-color;
	cursor: pointer;
	&:active {
		background-color: $inuit-base-grey-2-color;
	}
}

@include media-query (portable) {
	.modal-congratulation {
		.modal-content {
			width: 80%;
			height: auto;
			max-height: 400px;
			min-height: inherit;
		}

	}

	.congratulation-container {
		width: 100%;
		height: auto;
		padding: 10px;
	}

	.congratulation-img {
		width: 65%;
	}

	.congratulation-button {
		margin: 7px;
		min-width: 80px;
	}
}