body {
	@extend %clearfix;

	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;

	max-width: 1000px;
	margin: auto;
}

button {
	outline: 0;
}

a {
	text-decoration: none;
	color: $color-blue;

	&:hover {
		text-decoration: underline;
	 }
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

* {
	-webkit-tap-highlight-color: transparent;
}

@include media-query (palm) {
	body {
		overflow-x: hidden;
	}

	.hidden-smartphone {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}


