body {
	@extend %clearfix;

	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;
}

button {
	outline: 0;
}

a {
	text-decoration: none;
	color: $color-blue;

	&:hover {
		text-decoration: underline;
	 }
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

* {
	user-select: none;
	// tap-highlight-color: rgb(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}



