body {
	@extend %clearfix;

	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 14px;

	max-width: 1000px;
	margin: auto;
}

button {
	outline: 0;
}

a {
	text-decoration: none;
	color: $color-blue;

	&:hover {
		text-decoration: underline;
	 }
}

.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

* {
	-webkit-tap-highlight-color: transparent;
}

@include media-query (portable) {
	body {
		overflow-x: hidden;
	}

	.hidden-smartphone {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}

@font-face {
	font-family: 'UTMAlterGothic';
	src: url('fonts/UTMAlterGothic.eot'); /* IE9 Compat Modes */
	src: url('fonts/UTMAlterGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/UTMAlterGothic.woff') format('woff'), /* Pretty Modern Browsers */
		url('fonts/UTMAlterGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/UTMAlterGothic.svg#UTMAlterGothic') format('svg'); /* Legacy iOS */
	}


