.map-wrap{
	//background-image: url(img/bg_chooser.jpg);
	//height: 40.14em;
	max-width: 564px;
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin: 20px auto;
	max-width: 42.86em;
}

.map-list-bg {
	width: 100%;
	max-width: 42.86em;
}

.img-no-retina {
	display: block;
}

.img-retina {
	display: none;
}

@include media-query(retina) {
	.img-no-retina {
		display: none;
	}

	.img-retina {
		display: block;
	}
}

.chose-round{
	position: absolute;
	height: 80px;
	width: 16%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	&:active{
		margin-top: 1px;
	}
}

.round-1 {
	left: 65%;
	top: 0;
	@include map-list-item(round1);
}
.round-2 {
	left: 40%;
	top: 12%;
	@include map-list-item(round1);
}
.round-3 {
	left: 10%;
	top: 22%;
	@include map-list-item(round1);
}
.round-4 {
	left: 15%;
	top: 42%;
	@include map-list-item(round1);

}
.round-5 {
	left: 32%;
	top: 43%;
	@include map-list-item(round2);
}
.round-6 {
	left: 58%;
	top: 37%;
	@include map-list-item(round2);
}
.round-7 {
	left: 45%;
	top: 26%;
	@include map-list-item(round2);
}
.round-8 {
	left: 78%;
	top: 47%;
	@include map-list-item(round3);
}
.round-9 {
	left: 55%;
	top: 53%;
	@include map-list-item(round3);
}
.round-10 {
	left: 17%;
	top: 72%;
	@include map-list-item(round3);
}

.unlock-1 {
	background-position: bottom;
	@include map-list-item(unlock1);
}

.unlock-2 {
	background-position: bottom;
	@include map-list-item(unlock2);
}
.unlock-3 {
	background-position: bottom;
	@include map-list-item(unlock3);
}

.no-margin-right {
	margin-right: 0 !important;
}
@include media-query (portable) {
	.map-wrap {
		width: 70%;

		margin: auto;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	.chose-round {
		width: 14%;
		background-position: top;
	}

	.unlock-1, .unlock-2, .unlock-3 {
		background-position: center;
	}
}

@media (max-height: 480px) {
	.map-list-bg {
		margin-top: 40px;
	}
}

@media (min-height: 481px) and (max-height: 568px) and (max-width: 1023px){
	.map-list-bg {
		margin-top: 60px;
	}
}

@media (min-height: 569px) and (max-height: 736px) and (max-width: 1023px){
	.map-list-bg {
		margin-top: 60px;
	}
}
