.map-wrap{
	background-image: url(img/bg_chooser.png);
	height: 600px;
	width: 600px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin: auto;
}
.chose-round{
	position: absolute;
	background-image: url(img/round.png);
	height: 80px;
	width: 16%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.round-1 {
	left: 63%;
	top: 0;
	&:active{
		top: 1px;
	}
}
.round-2 {
	left: 40%;
	top: 57px;
	&:active{
		top: 58px;
	}
}
.round-3 {
	left: 10%;
	top: 133px;
	&:active{
		top: 134px;
	}
}
.round-4 {
	left: 15%;
	top: 245px;
	&:active{
		top: 246px;
	}
}
.round-5 {
	left: 32%;
	top: 270px;
	&:active{
		top: 271px;
	}
}
.round-6 {
	left: 58%;
	top: 232px;
	&:active{
		top: 233px;
	}
}
.round-7 {
	left: 45%;
	top: 150px;
	&:active{
		top: 151px;
	}
}
.round-8 {
	left: 78%;
	top: 290px;
	&:active{
		top: 291px;
	}
}
.round-9 {
	left: 55%;
	top: 326px;
	&:active{
		top: 327px;
	}
}
.round-10 {
	left: 17%;
	top: 435px;
	&:active{
		top: 436px;
	}
}