
button.close {
	-webkit-appearance: none;
	cursor: pointer;
	background: #ffffff;
	position: absolute;
	top: -25px;
	right: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid transparent;
	outline: 0;
	padding: 0;
}

.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	text-align: center;
}
.modal.fade .modal-dialog {
	-webkit-transition: all 0.25s ease-out;
	 -moz-transition:   all 0.25s ease-out;
	   -o-transition:      all 0.25s ease-out;
	      transition:        all 0.25s ease-out;
	-webkit-transform: translate(0, -25%);
	  -ms-transform: translate(0, -25%);
	      transform: translate(0, -25%);
	      opacity: 0;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	      transform: translate(0, 0);
	      opacity: 1;
}
.modal-dialog {
	margin-top: -20px;

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-left: -5px;
		height: 100%;
	}


}
.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	outline: none;

	max-width: 665px;
	margin: auto;
	color: $color-menu-list;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	color: inherit;

	.second-btn {
		background: $button-second-color;
		&:hover {
			background: $inuit-base-grey-color;
		}
	}


}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	min-height: 16.42857143px;
	padding: 30px ;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-body {
	position: relative;
	padding: 10px 30px ;
}
.modal-footer {
	padding: 19px 30px 20px;

}

.modal-title {
	margin: 0;
}

////modal custom----------modal introduction--------------

.hello{
	display: inline-block;
	font-size: 52px;
	color: $inuit-base-green-color;
	font-weight: normal;
}
.title-paragraph{
	font-size: 18px;
	color: $inuit-base-green-color;
}
.paragraph{
	font-size: 14px;
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: justify;
}
.logo-modal{
	height: 60px;
	width: 90px;
	display: block;
	margin-bottom: 30px;
}
.button-modal{
	padding: 12px 23px;
	font-size: 14px;
	background: $bg-button-green;
	border: 0;
	margin-right: 10px;
	color: $inuit-base-background-color;
	//margin-bottom: 45px;
	position: relative;
	&:hover {
		background: $bg-button-green-hover;
	}
	&:active{

		background: $bg-button-green-active;
	}
	&:before {
		content: '';
		background-image: url(/img/button-border.png);
		background-repeat: repeat-x;
		top: 0;
		position: absolute;
		left: 0;
		width: 100%;
		height: 11px;
	}
	&:after {
		content: '';
		background-image: url(/img/button-border.png);
		background-repeat: repeat-x;
		bottom: 0;
		position: absolute;
		left: 0;
		width: 100%;
		height: 11px;
	}
}
///modal login------------------

.modal-login{
	text-align: center;
	font-size: 14px;
	.modal-content{
		padding: 30px 95px;
	}
	.modal-header, .modal-body{
		padding: 0;
	}
	&:hover {
		text-decoration: none;
	}
}
.title-login {
	position: relative;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: $color-text-login;
	margin-top: 0;
	margin-bottom: 15px;

}
.login-border {
	height: 1px;
	width: 100%;
	background: $inuit-base-white-2-color;
	position: absolute;
	top: 51%;
}
.description-login{
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;

}
.facebook-login {
	background: $color-background-facebook;
	color: $inuit-base-white-color;
	width: 100%;
	padding: 10px;
	font-size: 24px;
	border: 0;
	border-radius: 10px;
	line-height: 1;
}
.login-form-input{
	height: 45px;
	border: 1px solid $inuit-base-grey-2-color;
	width: 100%;
	padding-left: 30px;
	margin-bottom: 25px;
}
.login-or{
	position: relative;
	padding-top: 27px;
	padding-bottom: 27px;
	text-align: center;
	span{
		z-index: 1;
		position: relative;
		background: $inuit-base-background-color;
		padding: 0 20px;
	}
}
.button-login {
	position: relative;
	left: 50px;
	cursor: pointer;
	padding: 3px 10px;
	line-height: 35px;
}
.icon-cross {
	font-size: 20px;
	color: $inuit-base-grey-color;
}
.button-login-footer {
	text-align: right;
	margin-top: 20px;
}


.button-status {
	position: relative;
	left: 45px;
	display: none;
	cursor: pointer;
	padding: 3px 10px;
	padding-top: 8px;
}

.error-block {
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

.error {
	color: #f00;
}

.privacy-block {
	position: relative;
	margin-top: 5px;

	label {
		float: left;
		text-align: left;
		padding-left: 25px;
	}

	input {
		position: absolute;
		top: 6px;
		left: 0;
	}
}

@media(max-width: 1023px) {
	.modal {
		height: 100%;
	}
	.modal-content {
		width: 100%;
		min-height: 100%;
		height: auto;
	}
	.modal-header, .modal-footer {
		padding: 20px;
	}
	.modal-body {
		padding: 20px;
		padding-top: 0;
	}

	.modal-dialog {
		margin-top: 0;
		position: static;
	}

	button.close {
		right: 46px;
		width: 40px;
		height: 40px;
		text-align: center;
		margin-top: 0;
		top: 7px;
		right: 7px;
		z-index: 1;
		.icon-cross{
			font-size: 15px;
		}
	}
	.hello {
		font-size: 36px;
	}
	.button-modal {
		padding: 12px 5px;
		min-width: 100px;
	}
	.logo-modal {
		margin-top: 40px;
	}
	.button-login {
		font-size: 13px;
		z-index: 1;
		top: 0;
		padding: 3px 7px;
		border-right: 1px solid $inuit-base-grey-color;
	}
	.modal-login .modal-content{
		padding: 20px;
		margin-top: 0;
		.button-modal {
			padding: 12px 23px;
		}
	}
	.button-status {
		display: inline-block;
		z-index: 1;
		font-size: 13px;
		padding: 3px 7px;
	}

}






