.game-play{
	width: 65%;
	float: left;
	position: relative;
}
.game-intro{
	width: 35%;
	float: left;
}
.game-intro-wrap {
	max-width: 300px;
	margin: 20px auto;
	font-size: 13px;
	position: relative;
}
.button-rule {
	background: $inuit-base-blue-color;
	width: 62px;
	height: 25px;
	border-radius: 5px;
	color: $inuit-base-white-color;
	font-size: 13px;
	border: 1px solid $inuit-base-blue-color;
	position: absolute;
	right: 0;
	top:-4px;
	&:active{
		background: $inuit-base-grey-color;
	}
}
.current-sponsor{
	font-size: 32px;
	color: $inuit-base-green-color;
	font-weight: bold;

}
.total-sponsor {
	span {
		font-weight: bold;
	}
}
.participant{
	font-weight: bold;
	font-size: 24px;
	padding-top: 17px;
	padding-bottom: 23px;
	color: $inuit-base-grey-3-color;
	a{
		font-size: 13px;
		font-weight: normal;
		margin-left: 7px;
	}
}
.sponsor-fund{
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	background: $inuit-base-green-color;
	border: 1px solid $inuit-base-green-color;;
	color: $inuit-base-white-color;
	height: 53px;
	text-align: left;
	padding-left: 20px;
	line-height: 2;
	&:active{
		background: $inuit-base-grey-color;
	}
	i{
		font-size: 34px;
		float: right;
	}
}

.list-sponsor {
	border-bottom: 1px solid $color-border;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 18px;
}

.button-controler{

	width: 210px;
	height: 190px;
	position: relative;
	margin: auto;
	/*
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);*/
}
.control-top, .control-left, .control-bottom, .control-right {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 0;
	background: $inuit-base-white-color;
	position: absolute;
	padding: 0;
	/*
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);*/
	i{
		font-size: 80px;
	}
	&:active{
		i{
			color: $inuit-base-white-color;
		}
	}

}

.control-top {
	left: 64px;
	i{
		color: $color-button-top;
	}
	&:active{
		background: $color-button-top;
	}
}

.control-bottom {
	left: 64px;
	bottom: 0;
	i{
		color: $color-button-bottom;
	}
	&:active{
		background: $color-button-bottom;
	}
}

.control-left {
	left: 0;
	top: 56px;
	i{
		color: $color-button-left;
	}
	margin-bottom: 4px;
	&:active{
		background: $color-button-left;
	}
}

.control-right {
	right: 3px;
	top: 56px;
	i{
		color: $color-button-right;
	}
	margin-bottom: 4px;
	&:active{
		background: $color-button-right;
	}
}

.round{
	font-size: 16px;
	display: inline-block;
	color: $inuit-base-grey-3-color;
	line-height: 1;
	.current-round {
		font-size: 47px;
	}
	.total-round {
		font-size: 12px;
	}
}

.back {

	float: right;
	.number-foot {
		font-weight: bold;
	}
}

.block-control {
	margin-bottom: 50px;
	padding-top: 15px;
}

.play-again {
	float: right;
	display: inline-block;
	font-size: 14px;
	margin-right: 20px;
	i{
		color: $inuit-base-red-color;
		font-size: 35px;
		display: inline-block;
		cursor: pointer;
		margin-top: 23px;
	}
}
.progress{
	height: 28px;
	background: $inuit-base-white-2-color;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}

.progress-current {
	position: absolute;
	left: 0;
	height: 100%;
	width: 20px;
	background: $inuit-base-green-color;

}

.description-progress {
	border-bottom: 1px solid $color-border;
	padding-bottom: 15px;
	.time-left{
		float: right;
		i{
			margin-right: 7px;
		}
	}
}
.intro-block-smartphone{
	display: none;
}

@media(max-width: 1000px) {
	.game-play {
		width: 100%;
	}
	.intro-donate-pc{
		display: none;
	}
	.game-intro {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.game-intro-wrap {
		width: 0;
	}
	.button-controler {
		position: absolute;
		bottom: 20px;
		right: -40px;
		width: 150px;
		height: 140px;
	}
	.control-top, .control-left, .control-bottom, .control-right {
		width: 56px;
		height: 56px;
		i{
			font-size: 56px;
		}
	}
	.control-top, .control-bottom {
		left: 46px;
	}
	.control-left, .control-right {
		top: 43px;
	}
	.block-control {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.button-contron-top{
		display: inline-block;
		vertical-align: top;
		margin-top: 7px;
	}
	.round {
		margin-left: 70px;
		font-size: 14px;
	}
	.back{
		margin-right: 20px;
	}
	.round .current-round {
		font-size: 34px;
	}
	.intro-block-smartphone{
		display: block;
	}
}
