// ---------
// Base setting of page
// ---------
// html {
// 	overflow: hidden;
// }
.page {
	max-width: 964px;
	width: 100%;
	padding: 1px 20px;
	margin: auto;
	min-height: 500px;
}

.challenge {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;

	&:before {
		position: absolute;
		top: -19px;
		color: #808080;
		font-size: 24px;
		left: 50%;
		margin-left: -12px;
	}
}

.not-found {
	text-align: center;
	width: 100%;
	padding-top: 5%;
	img {
		width: 100%;
		max-width: 734px;
	}
}

@media (max-width: 320px) {
	.challenge {
		top: 18px;
	}
	.page {
		min-height: 300px;
	}
}

@media (min-width: 321px) and (max-width: 1000px) {
	.challenge {
		top: 14px;
	}

	.page {
		min-height: 70%;
	}
}