
.map-grid {
	@extend %clearfix;

	background-image: url(img/map-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	max-width: 520px;
	margin: 20px auto;
	position: relative;

	@include media-query(retina) {
		background-image: url(img/map-bg-2x.png);
	}

	.action,
	.social {
		position: absolute;
		right: 8.33333%;
		bottom: 9.33333%;
		width: 25%;

		.icon {
			width: 30%;
			max-width: 30px;
			height: 30%;
			margin-left: -4px;
		}
	}

	.action {
		top: 15px;
		bottom: auto;
	}
}

// Temp
.sample-character {
	.item {
		@extend %clearfix;
		padding-top: 50px;

		&:first-child {
			padding: 0;
		}
	}
}
